header {
    font-family: "Segoe UI", sans-serif;
    background-color: #23140C;
    color: #D0BA98;
    margin: 0;
    padding: 1rem;
    text-align: center;
}
/* Background Texture */

body {
    background-color: #D0BA98;
    color: #000;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    background: url('../assets/background-texture.png') repeat;
  }
  
  /* Centered Login Box */
  element.style {
    background-color: #D0BA98;
    font-family: "Segoe UI", sans-serif;
  }
  .centered-box {
    width: 400px;
    margin: 70px auto;
    background: #23140C;
    color: #D0BA98;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 3px 5px 15px rgba(0,0,0,0.3);
  }

  /* Common */
  input, button {
    color : #23140C;
    background: #ffffff;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
  
  /* Sidebar */
  .sidebar {
    background: #23140C;
    color: #D0BA98;
    width: 220px;
    height: 100vh;
    position: fixed;
    padding: 1rem;
  }
  
  .sidebar a {
    color: #D0BA98;
    text-decoration: none;
    display: block;
    margin-top: 1rem;
  }
  
  /* Main Content */
  .page-header {
    background: #23140C;
    color: #D0BA98;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    position: fixed;
    width: calc(100% - 220px);
    left: 220px;
    top: 0;

  }
  .main-content {
    background: #D0BA98;
    color: #23140C;
    margin-left: 230px;
    padding: 2rem;
  }
  
  /* Cards */
  .cards-grid {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .card {
    background: #7a2c2cdd;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
  }
  
  .card img {
    width: 80px;
    margin-bottom: 1rem;
  }
  
  /* Page Visibility */
  .hidden {
    background-color: #D0BA98;
    display: none;
  }
  
  .page {
    background-color: #D0BA98;
    min-height: 100vh;
  }
/* Fade Animation */
.fade-in {
    animation: fadeIn 0.5s ease forwards;
  }
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px);}
    to { opacity: 1; transform: translateY(0);}
  }
  
  /* Card Hover */
  .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  
  /* Button Hover */
  button:hover {
    background-color: #3b82f6;
    color: white;
    transition: all 0.3s ease;
  }
    